h1{
  font-size: 90px;
  text-align: center;
  font-family: cursive;
  height:100px;
  width: 1520px;
  background: cornflowerblue;
}
.gallery{
  position: relative;
  display: flex;
  align-items: center;
}
h2{
  width: 500px;
  font-size: 50px;
  font-family: 'Lexend',sans-serif
 }
